*{
    margin: 0;
    padding: 0;
    box-sizing: 'poppins' ,sans-serif;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: 'poppins', sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right , #333399, #ff00cc);
    display: flex;
}

/* .gee {
    padding: 10px 28px;
    background-color: #fff;
    color: #ff00cc;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}

.gee:hover {
    background-color: #333399;
    box-shadow: 0 0 25px;
} */

.logo {
    width: 90px;
    height: 80px;
    margin-top: 9rem;
}

.oddy {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 12%;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}