*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}
html{
    font-size: 60%;
    overflow-x: hidden;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 12% 4rem;
    background: linear-gradient(to right ,rgba(255,255,255,0.2),rgba(255,255,255,0.5));
    backdrop-filter: blur(10px);   
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}
.navigation a{
   font-size: 1.8rem;
   color: skyblue;
   margin-left: 4rem;
   font-weight: 500;
   transition: 0.3s ease;
   border-bottom: 3px solid transparent;
}
.navigation a:hover,
.navigation a.active{
    color: #21d5f9;
    border-bottom: 3px solid #21d5f9;
}
#menu-icon{
    font-size: 3.6rem;
    color: white;
    display: none;
}
.logos{
    color: blue;
    cursor: pointer;
    transition: 0.3s ease;
    font-family: Snap ITC;
    font-size: 2.5em; 
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.logos:hover{
    color: yellow;
    transform: scale(1.3) translateY(-5px);
    box-shadow: 0 0 25px yellow;
    
}
.logos span{
    color: #21d5f9;
    font-size: 0.7em;
}
section{
    min-height: 100vh;
    padding: 10rem 12% 10rem;
    background:  linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(wallpaperflare.com_wallpaper.jpg);
    background-repeat: no-repeat;
    color: white;
 }
 .home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
 }
 .home-content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
 }
span{
    color: #21d5f9;
}
.logos span{
    color: #21d5f9;
}
.home-content h3{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}
.home-content h1{
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}
.home-content p {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
    
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: #21d5f9;
    box-shadow: 0 0 25px skyblue;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: black;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 50px skyblue;
}
.btn-group{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.btn-group a:nth-of-type(2){
    background-color: black;
    color: #21d5f9;
    border: 2px solid skyblue;
    box-shadow: 0 0 25px transparent;
}
.btn-group a:nth-of-type(2):hover{
    box-shadow: 0 0 25px skyblue;
    background-color: #21d5f9;
    color: black;
}
 .page2{
    background:black ;
    background-repeat: no-repeat;
    color: white;
 }
 .movies{
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }
 .movies .heading{
    color: gold;
    margin-bottom: 5rem;
 }
 .movies img{
    width: 15rem;
    border-radius: 50%;
    border: 3px solid skyblue;
    box-shadow: 0 0 25px skyblue;
 }
 .wrapper{
    display: grid;
    gap: 3rem;
    display: flex;
 }
 .movies-item{
    min-height: 450px;
    max-width: 550px;
    background: url(hh.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    border: 3px solid rgba(238, 238, 238, 0.2);
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 30px 60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    color: #57b6fb;
    transition: 0.2s ease-in-out;
}
.movies-item:hover{
    border: 3px solid rgb(19, 42, 243);
    transform: translateY(-10px)scale(1.2);
    box-shadow: 0 0 50px rgb(158, 7, 239);
}
.movies-item2{
    min-height: 450px;
    max-width: 550px;
    background: url(dd.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    border: 3px solid rgba(238, 238, 238, 0.2);
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 30px 60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    color: #57b6fb;
    transition: 0.2s ease-in-out;
}
.movies-item2:hover{
    border: 3px solid rgb(19, 42, 243);
    transform: translateY(-10px)scale(1.2);
    box-shadow: 0 0 50px rgb(158, 7, 239);
}
.movies-item3{
    min-height: 450px;
    max-width: 550px;
    background: url(wallpaper.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    border: 3px solid rgba(238, 238, 238, 0.2);
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 30px 60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    color: #57b6fb;
    transition: 0.2s ease-in-out;
}
.movies-item3:hover{
    border: 3px solid rgb(19, 42, 243);
    transform: translateY(-10px)scale(1.2);
    box-shadow: 0 0 50px rgb(158, 7, 239);
}
.movies-item4{
    min-height: 450px;
    max-width: 550px;
    background: url(wallpaper\ \(1\).jpg) no-repeat;
    background-size: cover;
    background-position: center;
    border: 3px solid rgba(238, 238, 238, 0.2);
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 30px 60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    color: #57b6fb;
    transition: 0.2s ease-in-out;
}
.movies-item4:hover{
    border: 3px solid rgb(19, 42, 243);
    transform: translateY(-10px)scale(1.2);
    box-shadow: 0 0 50px rgb(158, 7, 239);
}
.movies-item5{
    min-height: 450px;
    max-width: 550px;
    background: url(kk.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    border: 3px solid rgba(238, 238, 238, 0.2);
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 30px 60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    color: #57b6fb;
    transition: 0.2s ease-in-out;
}
.movies-item5:hover{
    border: 3px solid rgb(19, 42, 243);
    transform: translateY(-10px)scale(1.2);
    box-shadow: 0 0 50px rgb(158, 7, 239);
}
.movies-item6{
    min-height: 450px;
    max-width: 550px;
    background: url(qq.png) no-repeat;
    background-size: cover;
    background-position: center;
    border: 3px solid rgba(238, 238, 238, 0.2);
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 30px 60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    color: #57b6fb;
    transition: 0.2s ease-in-out;
}
.movies-item6:hover{
    border: 3px solid rgb(19, 42, 243);
    transform: translateY(-10px)scale(1.2);
    box-shadow: 0 0 50px rgb(158, 7, 239);
}
.home-img{
    min-height: 350px;
    max-width: 350px;
    margin-top: -120px;
    background: url(squid-game-2-poster-5120x2880-20940.png) no-repeat;
    background-size: cover;
    background-position: center;
    border: 3px solid rgba(238, 238, 238, 0.2);
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 30px 60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    color: #57b6fb;
    transition: 0.2s ease-in-out;
}
.home-img:hover{
    border: 3px solid rgb(19, 42, 243);
    transform: translateY(-10px)scale(1.2);
    box-shadow: 0 0 50px rgb(158, 7, 239);
}

.home-img h2{
    font-size: 1.5rem;
    color: gold;
    /* margin-top: 15em; */
}
#play{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid rgb(191, 249, 2);
    font-size: 2.5rem;
    border-radius: 50%;
    color: #e0f900;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}
#play:hover{
    color: gray;
    transform: scale(1.3) translateY(-5px);
    box-shadow: 0 0 25px transparent;
    background-color: transparent;
}

.movies-item h2{
    color: gold;
    font-size: 1.8rem;
    justify-content: center;
    display: inline;
}
.movies-item2 h2{
    color: gold;
    font-size: 1.8rem;
    justify-content: center;
    display: inline;
}
.movies-item3 h2{
    color: gold;
    font-size: 1.8rem;
    justify-content: center;
    display: inline;
}
.movies-item4 h2{
    color: gold;
    font-size: 1.8rem;
    justify-content: center;
    display: inline;
}
.movies-item5 h2{
    color: gold;
    font-size: 1.8rem;
    justify-content: center;
    display: inline;
}
.movies-item6 h2{
    color: gold;
    font-size: 1.8rem;
    justify-content: center;
    display: inline;
}
.heading{
    font-size: 4rem;
    color: black;
}

.page3{
    background: rgb(37, 37, 37);
    background-repeat: no-repeat;
    color: white;
    justify-content: center; 
    align-items: center; 
}

.search-bar{
    margin-left: 22px;
    width: 30%;
    height: 5em;
    max-width: 700px;
    background: rgb(35, 35, 35);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);
}
.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #cac7ff;
}
::placeholder{
    color: #cac7ff;
}
.search-bar button img{
    width: 15px;
    height: 10px;
}
.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 30px;
    height: 34px;
    background: #58629b;
    cursor: pointer;
}




.movies-item11{
    min-height: 450px;
    max-width: 550px;
    background: url(xx\ \(1\).jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    border: 3px solid rgba(238, 238, 238, 0.2);
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 30px 60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    color: #57b6fb;
    transition: 0.2s ease-in-out;
}
.movies-item11:hover{
    border: 3px solid rgb(19, 42, 243);
    transform: translateY(-10px)scale(1.2);
    box-shadow: 0 0 50px rgb(158, 7, 239);
}
.movies-item12{
    min-height: 450px;
    max-width: 550px;
    background: url(xx\ \(1\).jpg) no-repeat;
    background-size: cover;
    background-position: center;
    border: 3px solid rgba(238, 238, 238, 0.2);
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 30px 60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    color: #57b6fb;
    transition: 0.2s ease-in-out;
}
.movies-item12:hover{
    border: 3px solid rgb(19, 42, 243);
    transform: translateY(-10px)scale(1.2);
    box-shadow: 0 0 50px rgb(158, 7, 239);
}
.movies-item13{
    min-height: 450px;
    max-width: 550px;
    background: url(xx\ \(1\).png) no-repeat;
    background-size: cover;
    background-position: center;
    border: 3px solid rgba(238, 238, 238, 0.2);
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 30px 60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    color: #57b6fb;
    transition: 0.2s ease-in-out;
}
.movies-item13:hover{
    border: 3px solid rgb(19, 42, 243);
    transform: translateY(-10px)scale(1.2);
    box-shadow: 0 0 50px rgb(158, 7, 239);
}
.movies-item14{
    min-height: 450px;
    max-width: 550px;
    background: url(xx\ \(2\).jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    border: 3px solid rgba(238, 238, 238, 0.2);
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 30px 60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    color: #57b6fb;
    transition: 0.2s ease-in-out;
}
.movies-item14:hover{
    border: 3px solid rgb(19, 42, 243);
    transform: translateY(-10px)scale(1.2);
    box-shadow: 0 0 50px rgb(158, 7, 239);
}
.movies-item15{
    min-height: 450px;
    max-width: 550px;
    background: url(xx\ \(2\).jpg) no-repeat;
    background-size: cover;
    background-position: center;
    border: 3px solid rgba(238, 238, 238, 0.2);
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 30px 60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    color: #57b6fb;
    transition: 0.2s ease-in-out;
}
.movies-item15:hover{
    border: 3px solid rgb(19, 42, 243);
    transform: translateY(-10px)scale(1.2);
    box-shadow: 0 0 50px rgb(158, 7, 239);
}
.movies-item16{
    min-height: 450px;
    max-width: 550px;
    background: url(xx\ \(2\).png) no-repeat;
    background-size: cover;
    background-position: center;
    border: 3px solid rgba(238, 238, 238, 0.2);
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 30px 60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    color: #57b6fb;
    transition: 0.2s ease-in-out;
}
.movies-item16:hover{
    border: 3px solid rgb(19, 42, 243);
    transform: translateY(-10px)scale(1.2);
    box-shadow: 0 0 50px rgb(158, 7, 239);
}



.movies-item21{
    min-height: 450px;
    max-width: 550px;
    background: url(disney-moana-movie-poster-wallpaper-6677.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    border: 3px solid rgba(238, 238, 238, 0.2);
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 30px 60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    color: #57b6fb;
    transition: 0.2s ease-in-out;
}
.movies-item21:hover{
    border: 3px solid rgb(19, 42, 243);
    transform: translateY(-10px)scale(1.2);
    box-shadow: 0 0 50px rgb(158, 7, 239);
}

.movies-item22{
    min-height: 450px;
    max-width: 550px;
    background: url(wish.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    border: 3px solid rgba(238, 238, 238, 0.2);
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 30px 60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    color: #57b6fb;
    transition: 0.2s ease-in-out;
}
.movies-item22:hover{
    border: 3px solid rgb(19, 42, 243);
    transform: translateY(-10px)scale(1.2);
    box-shadow: 0 0 50px rgb(158, 7, 239);
}
.movies-item23{
    min-height: 450px;
    max-width: 550px;
    background: url(ahsoka-star-wars-3840x2160-12874.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    border: 3px solid rgba(238, 238, 238, 0.2);
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 30px 60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    color: #57b6fb;
    transition: 0.2s ease-in-out;
}
.movies-item23:hover{
    border: 3px solid rgb(19, 42, 243);
    transform: translateY(-10px)scale(1.2);
    box-shadow: 0 0 50px rgb(158, 7, 239);
}
.movies-item24{
    min-height: 450px;
    max-width: 550px;
    background: url(sonic-the-hedgehog-3840x2160-20307.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    border: 3px solid rgba(238, 238, 238, 0.2);
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 30px 60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    color: #57b6fb;
    transition: 0.2s ease-in-out;
}
.movies-item24:hover{
    border: 3px solid rgb(19, 42, 243);
    transform: translateY(-10px)scale(1.2);
    box-shadow: 0 0 50px rgb(158, 7, 239);
}
.movies-item25{
    min-height: 450px;
    max-width: 550px;
    background: url(kk.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    border: 3px solid rgba(238, 238, 238, 0.2);
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 30px 60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    color: #57b6fb;
    transition: 0.2s ease-in-out;
}
.movies-item25:hover{
    border: 3px solid rgb(19, 42, 243);
    transform: translateY(-10px)scale(1.2);
    box-shadow: 0 0 50px rgb(158, 7, 239);
}
.movies-item26{
    min-height: 450px;
    max-width: 550px;
    background: url(bb.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    border: 3px solid rgba(238, 238, 238, 0.2);
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 30px 60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    color: #57b6fb;
    transition: 0.2s ease-in-out;
}
.movies-item26:hover{
    border: 3px solid rgb(19, 42, 243);
    transform: translateY(-10px)scale(1.2);
    box-shadow: 0 0 50px rgb(158, 7, 239);
}
.movies-item11 h2{
    color: gold;
    font-size: 1.8rem;
    justify-content: center;
    display: inline;
}
.movies-item12 h2{
    color: gold;
    font-size: 1.8rem;
    justify-content: center;
    display: inline;
}
.movies-item13 h2{
    color: gold;
    font-size: 1.8rem;
    justify-content: center;
    display: inline;
}
.movies-item14 h2{
    color: gold;
    font-size: 1.8rem;
    justify-content: center;
    display: inline;
}
.movies-item15 h2{
    color: gold;
    font-size: 1.8rem;
    justify-content: center;
    display: inline;
}
.movies-item16 h2{
    color: gold;
    font-size: 1.8rem;
    justify-content: center;
    display: inline;
}

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: rgba(15, 9, 9, 0.799);
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: skyblue;
}
.footer .social a{
    font-size: 25px;
    color: rgb(97, 136, 253);
    border: 2px solid rgb(86, 111, 249);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}
.footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
    background-color: skyblue;
    color: black;
    box-shadow: 0 0 25px skyblue;
}
.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: white;
    border-radius: 3px solid transparent;
    transition: 0.3s ease-in-out;
}
.footer ul li a:hover{
    border-bottom: 3px solid skyblue;
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright{
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: white;
}

.page4{
    background: rgb(37, 37, 37);
    background-repeat: no-repeat;
    color: white;
    justify-content: center; 
    align-items: center; 
}

